@import "./variables.scss";

.board-wrapper {
    // background-color: green;
    width: 100vw;
    @media screen and (min-width: $brakepoint) {
        width: 60vw;
        height: 100vh;
    }

    .board {
        max-height: 80vh;
        &-row {
            display: flex;
            flex-direction: row;
        }
        
        &-box {
            flex: 1 1 auto; 
            background-color: #f0f0f0;
            border: 0.1px solid #e4e4e4;
            
            &.active {
                background-color: #226b68;
            }

            &.predict {
                background-color: #d1d865;
            }

            &:before {
                content: "";
                display: block;
                padding-top: 100%;
            }
        }
    }
}